
@import url("gradient.css");


:root {
	--color-blue: #254ca1;
	--mb: 1.5rem;
	--section-mb: 10rem;
	--font-size: 1.1rem;
	--bt-color: #fff;
}
/*======================================
======</=====</=======================*/

html {
	font-size: 100%;
	scroll-behavior: smooth;
}

body {
	font-size: 100%;
	font-family: 'Gotham Pro';
	background-color: var(--color-blue);
}

/*****
=====-основные стили-=====*/
.title {
	font-family: 'Playfair Display';
	font-size: 3rem;
	text-align: center;
	letter-spacing: 0.1rem;
	color: #fff; 
}

.text {
	font-size: var(--font-size);
	line-height: 1.5rem;
	color: #fff;
	padding: 0 0.9375rem 0 0.9375rem;
}

.color-blue {
	color: blue;
}
/*======================================
======</=====</=======================*/

.wrapper {}

.container {
	max-width: 1220px;
	margin: 0 auto;
}

/******
====== header ===================================*/
.header {
	margin-bottom: 13rem; 
}

nav {
	margin: 27px auto 0;
	position: relative;
	width: 1070px;
	height: 50px;
	background-color: #535d67;
	border: 1px solid black;
	border-radius: 8px;
	box-shadow: 2px 2px 4px #000;
	margin-bottom: 150px;
}

nav a {
	line-height: 50px;
	height: 100%;
	font-size: 16px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-align: center;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
}

nav .animation {
	position: absolute;
	height: 100%; /* или 100px */
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}

a:nth-child(1) {
	width: 100px;
}

a:nth-child(2) {
	width: 110px;
}

a:nth-child(3) {
	width: 120px;
}

a:nth-child(4) {
	width: 140px;
}

a:nth-child(5) {
	width: 120px;
}

a:nth-child(6) {
	width: 130px;
}
a:nth-child(7) {
	width: 140px;
}

a:nth-child(8) {
	width: 160px;
}


nav .start-home, a:nth-child(1):hover ~ .animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
	border-bottom: 1px solid #e92309;
}

nav .start-home, a:nth-child(2):hover ~ .animation {
	width: 110px;
	left: 100px;
	background-color: #159c52;
	border-bottom: 1px solid #bbece6;}

nav .start-home, a:nth-child(3):hover ~ .animation {
	width: 120px;
	left: 216px;
	background-color: #1abc9c;
	border-bottom: 1px solid #e92309;
}

nav .start-home, a:nth-child(4):hover ~ .animation {
	width: 140px;
	left: 340px;
	background-color: #159c52;
	border-bottom: 1px solid #bbece6;
}

nav .start-home, a:nth-child(5):hover ~ .animation {
	width: 120px;
	left: 484px;
	background-color: #1abc9c;
	border-bottom: 1px solid #e92309;
}

nav .start-home, a:nth-child(6):hover ~ .animation {
	width: 130px;
	left: 606px;
	background-color: #159c52;
	border-bottom: 1px solid #bbece6;
}

nav .start-home, a:nth-child(7):hover ~ .animation {
	width: 140px;
	left: 739px;
	background-color: #1abc9c;
	border-bottom: 1px solid #e92309;
}

nav .start-home, a:nth-child(8):hover ~ .animation {
	width: 160px;
	left: 884px;
	background-color: #159c52;
	border-bottom: 1px solid #bbece6;
}

/* logo */
.header__logo {
text-align: center;
margin-bottom: 10px;
}


/* text */
.header__text {
	font-family: 'Gotham Pro';
	font-size: 14px;
	line-height: 1.1rem;
	text-align: center;
	color: #fff;
}

.linea {
	max-width: 15%;
	border-bottom: 3px solid #fff;
	margin: 20px auto 30px auto;
}

.style-text {
	font-size: 3rem;
	margin-bottom: 30px;
}


/* icon */
.header-social-links {
	text-align: center;;
}

.social__img-youtube {
	margin-right: 15px;
}

.social__img-telegram {
	
}

.social__img-youtube:hover {
	border-radius: 5px;
	background-color: #7392d1;
	transition: .3s;
	padding: 3px;
}

.social__img-telegram:hover {
	border-radius: 5px;
	background-color: #7392d1;
	transition: .3s;
	padding: 4px;
}
/*======================================
======</=====</=======================*/


/******
====== main ===================================*/
.main {
	padding-bottom: 50rem; /*!==== удалить ====*/
}

.bible {
	font-family: 'Gotham Pro';
	height: 100vh;
}

.bible__inner {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 3rem;
}

.bible__title {
	font-family: 'Playfair Display';
	font-size: 3rem;
	text-align: center;
	letter-spacing: 0.1rem;
	color: #fff; 
	padding-top: 5rem;
	margin-bottom: 3rem;
}

.bible-text {
	max-width: 900px;
	font-size: var(--font-size);
	line-height: 1.5rem;
	color: #fff;
	padding-right: 3rem;
	padding-left: 10rem;
}

.item-mb {
	margin-bottom: var(--mb);
}


/* цитата */
blockquote {
	margin: 0;
	background: #254ca1;
	border-top: 1px solid #dbaa3f;
	border-bottom: 1px solid #dbaa3f;
	color: #fff;
	padding: 30px 30px 30px 90px;
	position: relative;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	}

	blockquote:before {
	content: "\201C";
	font-family: serif;
	position: absolute;
	left: 20px;
	top: 20px;
	color: white;
	background: #FB6652;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 50px;
	line-height: 1.35;
	text-align: center;
	}

	blockquote p {
	margin: 0 0 5px;
	font-size: 20px;
	letter-spacing: .05em;
	line-height: 1.4;
	font-style: italic;
	}
	
	blockquote cite {
	font-style: normal;
	}


	/* button */
.block__link {
	text-align: center;
	margin-left: 40rem;
	max-width: 600px;
}

.text-link {
	background: #254ca1;
	border: 1px solid #6f96e9;
	border-radius: 8px;
	font-size: 1rem;
	text-transform: uppercase;
	color: #fff;
	transition: .5s;
	padding: 15px 30px;
	margin-right: 2rem;
}

.text-link:hover {
	background-color: #153988;
	border: 1px solid brown;
}

.button-link {
	color: #fff;
}
/*======================================
======</=====</=======================*/


/*****
======-section-church-================*/
.church {
	background-color: #398235;
	/* margin-bottom: var(--section-mb); */
}

.church__wrapper {
	
}

.church__title {
	padding-top: 4rem;
	margin-bottom: var(--mb);
}

.church__subtitle {
	font-family: 'Playfair Display';
	font-size: 2rem;
	text-align: center;
	margin-bottom: 6rem;
}

.church__subtitle-link {
	color: rgb(25, 226, 182);
	letter-spacing: 0.3rem;
	position: relative;
	padding-bottom:  0.1875rem;
}

.church__subtitle-link:hover {
	color: #fff;
	transition: .3s;
}

/******
======= befor after ===============*/
.church__subtitle-link::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 54%;
	height: 1px;
	background-color: rgb(25, 226, 182);
	transition: .2s;
}

.church__subtitle-link:hover::before {
	width: 100%;
	background-color: #e92309;
}

.church__subtitle-link::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: rgb(25, 226, 182);
	transition: .4s;
	transform: scaleX(0);
}

.church__subtitle-link:hover::after {
	width: 100%;
	background-color: #e92309;
	transform: scaleX(1);
}
.church__photo {}

.church__text {
	margin-left: 2rem;
}


/*===== info =====*/
.text-subtitle {
	text-align: center;
	font-size: 1rem;
	line-height: 1.5rem;
	color: #fff;
}


/*===== number =====*/
.body__info-text {
	margin-bottom: 3rem;
}

.church__body-info {
	text-align: center;
	margin-bottom: 2rem;
}

.item-text {
	font-size: 1rem;
	color: blue;
	text-transform: uppercase;
	margin-bottom: 0.7rem;
}

.item-number {
	font-size: 6rem;
	font-weight: bold;
	/* letter-spacing: 0.6rem; */
	color: blue;
}

/*===== address =====*/

.address {
	padding-bottom: 5rem;
}
.address__text {
	font-size: 1rem;
	color: #fff;
	text-align: center;
}


/*****
==============================
---- галерея карточек ======*/

/*===== card-header =====*/
.body__card-header {
	text-align: center;
	padding-top: 5rem;
}

.card__title {
	/* font-size: 2.5rem; */
	line-height: 3rem;
	color: #fff;
}

.card__subtitle {
	font-size: 1rem;
	line-height: 2rem;
	font-style: italic;
	color: #fff;
}

/*===== card =====*/
.card-3d {
	position: relative;
	margin-left: 10rem;
}

.wrap {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	width: 300px;
	height: 300px;
	position: relative;
	margin-right: 25px; 

	/*****
	=======================================================
	---- это свойство, создаёт видимость 3D эффекта,
	---- этим мы задали глубину. =====*/
	perspective: 1000px;
}

.front, .back {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	transition: 1s;
	backface-visibility: hidden;

	border-radius: 10px;
}

.front {
	background-color: #73a106;
}

.front__img {
	border-radius: 10px;
}

.back {
	background-color: #03b453;
	transform: rotateY(180deg);
}

.card:hover .front {
	transform:rotateY(180deg);
}

.card:hover .back {
	transform:rotateY(360deg);
}
/*======================================
======</=====</=======================*/


/*****
===== ministry ==============================*/
.ministry {
	background-color: #254ca1;
}

.ministry__wrap {
	width: 300px;
	height: 100%px;
	margin-top: 20rem;

	display: flex;
	gap: 10px;
}

.wrap__inner {
	/* border-right: 1px solid rgb(247, 231, 231); */
	padding: 0 15px 0 0;
}

.ministry-img {
	border-radius: 8px;
}

.ministry__info {
	line-height: 1.5rem;
	color: #fff;
	padding: 20px 20px 10px 10px;
	border-right: 1px solid rgb(247, 231, 231);
}

.ministry_title {
	font-size: 1.5rem;
	margin-bottom: 0.7rem;
}
/*======================================
======</=====</=======================*/

/******
====== footer ===================================*/
.footer {}
/*======================================
======</=====</=======================*/